.navbar {
    height: 80px;
    width: 100%;
    font-size: 18px;
    position: fixed;
    z-index: 99;
    background-color: white;
    overflow: visible;
}

.wrapper {
    height: 40px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.center svg {
    color: skyblue;
}

.left,
.right {
    display: flex;
    gap: 20px;
}

.left img {
    width: 20px;
    height: auto;
}

.icons {
    display: flex;
    gap: 15px;
    color: #777;
    cursor: pointer;
    align-items: center;
}

.cartIcon {
    position: relative;
    width: 35px;
}